body{
  font-family: Arial;
  background: linear-gradient(#0f172a, #1e293b);
  color: white;
  text-align: center;
  padding: 20px;
}

h1{
  margin-bottom:20px;
}

input{
  padding:12px;
  width:70%;
  border-radius:10px;
  border:none;
  margin:10px auto;
  display:block;
}

button{
  padding:10px 15px;
  margin:5px;
  border:none;
  border-radius:10px;
  background:#334155;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#475569;
}

.card{
  background:rgba(255,255,255,0.05);
  padding:15px;
  margin-top:15px;
  border-radius:15px;
  backdrop-filter: blur(10px);
}

.suggestions {
  position: absolute;
  width: 70%;
  left: 15%;
  background: rgba(15, 23, 42, 0.95);
  border-radius: 10px;
  margin-top: -5px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  background:rgba(255,255,255,0.08);
  padding:10px;
  margin-top:5px;
  border-radius:10px;
  cursor:pointer;
  text-align:left;
}

.suggestion:hover{
  background:rgba(255,255,255,0.18);
}
